# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Data & warehouse
pipeline/warehouse/*.duckdb
data/raw/
!data/README.md
*.parquet
*.csv

# Models
forecasting/models/*.pkl
forecasting/models/*.joblib
forecasting/models/metrics_summary.json

# Environment variables / secrets
.env
*.env

# dbt
pipeline/dbt_project/target/
pipeline/dbt_project/dbt_packages/
pipeline/dbt_project/logs/
pipeline/dbt_project/.user.yml

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/